<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table
      width="100%"
      height="100%"
      style="min-width: 348px"
      border="0"
      cellspacing="0"
      cellpadding="0"
      lang="en"
    >
      <tbody>
        <tr height="32" style="height: 32px">
          <td></td>
        </tr>
        <tr align="center">
          <td>
            <div><div></div></div>
            <table
              border="0"
              cellspacing="0"
              cellpadding="0"
              style="padding-bottom: 20px; max-width: 516px; min-width: 220px"
            >
              <tbody>
                <tr>
                  <td width="8" style="width: 8px"></td>
                  <td>
                    <div
                      style="
                        border-style: solid;
                        border-width: thin;
                        border-color: #dadce0;
                        border-radius: 8px;
                        padding: 40px 20px;
                      "
                      align="center"
                      class="m_-4637609562796297582mdv2rw"
                    >
                      <img
                        src="https://ci5.googleusercontent.com/proxy/T_zJ7UbaC9x27OP4-ZCPfDipqYLSGum30AlaxEycVclfvxO8Cze0sZ0kCrXlx6a-MgvW2tswbIyiNVfczjDuGh9okorzC5SUJDfwkHr6-3j1KUu94HuAw5uxM_jaElQef3Sub84=s0-d-e1-ft#https://www.gstatic.com/images/branding/googlelogo/2x/googlelogo_color_74x24dp.png"
                        width="74"
                        height="24"
                        aria-hidden="true"
                        style="margin-bottom: 16px"
                        alt="Google"
                        class="CToWUd"
                        data-bit="iit"
                      />
                      <div
                        style="
                          font-family: 'Google Sans', Roboto, RobotoDraft,
                            Helvetica, Arial, sans-serif;
                          border-bottom: thin solid #dadce0;
                          color: rgba(0, 0, 0, 0.87);
                          line-height: 32px;
                          padding-bottom: 24px;
                          text-align: center;
                          word-break: break-word;
                        "
                      >
                        <div style="font-size: 24px">A new sign-in on Mac</div>
                        <table align="center" style="margin-top: 8px">
                          <tbody>
                            <tr style="line-height: normal">
                              <td align="right" style="padding-right: 8px">
                                <img
                                  width="20"
                                  height="20"
                                  style="
                                    width: 20px;
                                    height: 20px;
                                    vertical-align: sub;
                                    border-radius: 50%;
                                  "
                                  src="https://lh3.googleusercontent.com/a/ALm5wu06X0el5cKQsqj5yOoCUmXyk9RWPtyfwIP4d4L9=s96"
                                  alt=""
                                  class="CToWUd"
                                  data-bit="iit"
                                />
                              </td>
                              <td>
                                <a
                                  style="
                                    font-family: 'Google Sans', Roboto,
                                      RobotoDraft, Helvetica, Arial, sans-serif;
                                    color: rgba(0, 0, 0, 0.87);
                                    font-size: 14px;
                                    line-height: 20px;
                                  "
                                  >spacedevvn@gmail.com</a
                                >
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div
                        style="
                          font-family: Roboto-Regular, Helvetica, Arial,
                            sans-serif;
                          font-size: 14px;
                          color: rgba(0, 0, 0, 0.87);
                          line-height: 20px;
                          padding-top: 20px;
                          text-align: center;
                        "
                      >
                        We noticed a new sign-in to your Google Account on a Mac
                        device. If this was you, you don’t need to do anything.
                        If not, we’ll help you secure your account.
                        <div style="padding-top: 32px; text-align: center">
                          <a
                            href="##link##"
                            style="
                              font-family: 'Google Sans', Roboto, RobotoDraft,
                                Helvetica, Arial, sans-serif;
                              line-height: 16px;
                              color: #ffffff;
                              font-weight: 400;
                              text-decoration: none;
                              font-size: 14px;
                              display: inline-block;
                              padding: 10px 24px;
                              background-color: #4184f3;
                              border-radius: 5px;
                              min-width: 90px;
                            "
                            target="_blank"
                            data-saferedirecturl="https://www.google.com/url?q=https://accounts.google.com/AccountChooser?Email%3Dspacedevvn@gmail.com%26continue%3Dhttps://myaccount.google.com/alert/nt/1669694557000?rfn%253D325%2526rfnc%253D1%2526eid%253D-7736512639242811990%2526et%253D0&amp;source=gmail&amp;ust=1691777755886000&amp;usg=AOvVaw24VTSIdIsa_2TY41WDpZKv"
                            >Check activity</a
                          >
                        </div>
                      </div>
                      <div
                        style="
                          padding-top: 20px;
                          font-size: 12px;
                          line-height: 16px;
                          color: #5f6368;
                          letter-spacing: 0.3px;
                          text-align: center;
                        "
                      >
                        You can also see security activity at<br /><a
                          style="
                            color: rgba(0, 0, 0, 0.87);
                            text-decoration: inherit;
                          "
                          >https://myaccount.google.com/<wbr />notifications</a
                        >
                      </div>
                    </div>
                    <div style="text-align: left">
                      <div
                        style="
                          font-family: Roboto-Regular, Helvetica, Arial,
                            sans-serif;
                          color: rgba(0, 0, 0, 0.54);
                          font-size: 11px;
                          line-height: 18px;
                          padding-top: 12px;
                          text-align: center;
                        "
                      >
                        <div>
                          You received this email to let you know about
                          important changes to your Google Account and services.
                        </div>
                        <div style="direction: ltr">
                          © 2022 Google LLC,
                          <a
                            class="m_-4637609562796297582afal"
                            style="
                              font-family: Roboto-Regular, Helvetica, Arial,
                                sans-serif;
                              color: rgba(0, 0, 0, 0.54);
                              font-size: 11px;
                              line-height: 18px;
                              padding-top: 12px;
                              text-align: center;
                            "
                            >1600 Amphitheatre Parkway, Mountain View, CA 94043,
                            USA</a
                          >
                        </div>
                      </div>
                    </div>
                  </td>
                  <td width="8" style="width: 8px"></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr height="32" style="height: 32px">
          <td></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
