@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
	width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-track {
	@apply bg-transparent;
	/* background: var(--primary); */
	border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
	@apply bg-slate-500 dark:bg-slate-400;
	border-radius: 100px;
	/* border: 3px solid blue; */
}

@layer utilities {
	.text-demo {
		height: 10px;
	}
}